<div data-control="toolbar">
        <a 
            href="<?= Backend::url('ekuiniti/users/user/create') ?>" 
            class="btn btn-primary oc-icon-plus">   
            NEW USERS
        </a>
        
        <button
        class="btn btn-danger oc-icon-trash-o"
        disabled="disabled"
        onclick="$(this).data('request-data', { checked: $('.control-list').listWidget('getChecked') })"
        data-request="onDelete"
        data-request-confirm="Are you sure you want to delete the selected User ? "
        data-trigger-action="enable"
        data-trigger=".control-list input[type=checkbox]"
        data-trigger-condition="checked"
        data-request-success="$(this).prop('disabled', 'disable')"
        data-stripe-load-indicator>
        Delete Selected
    </button>

    <a
        href="<?= Backend::url('ekuiniti/users/user/export') ?>"
        class="btn btn-primary oc-icon-plus pull-right">
        EXPORT EXCEL
    </a>
</div>
