<?php Block::put('breadcrumb') ?>
    <ul>
        <li><a href="<?= Backend::url('ekuiniti/users/user') ?>">Users</a></li>
        <li><?= e($this->pageTitle) ?></li>
    </ul>
<?php Block::endPut() ?>

<?php if (!$this->fatalError): ?>

    <?= Form::open(['class' => 'layout']) ?>

        <div class="layout-row">
            <?= $this->formRender() ?>
        </div>

        <h4>KTP Address</h4> <hr/>
        <div class="layout-row">
            <?= $this->relationRender('userktp') ?>
        </div>

        <h4>Correspondence Address</h4> <hr/>
        <div class="layout-row">
            <?= $this->relationRender('usercorrespondence') ?>
        </div>

        <h4>Domicile Address</h4> <hr/>
        <div class="layout-row">
            <?= $this->relationRender('userdomicile') ?>
        </div>

        <div class="form-buttons">
            <div class="loading-indicator-container">
                <button
                    type="submit"
                    data-request="onSave"
                    data-hotkey="ctrl+s, cmd+s"
                    data-load-indicator="Creating User.."
                    class="btn btn-primary">
                    Create
                </button>
                <button 
                    type="button"
                    data-request="onSave"
                    data-request-data="close:1"
                    data-hotkey="ctrl+enter, cmd+enter"
                    data-load-indicator="Creating User.."
                    class="btn btn-default">
                    Create and Close
                </button>
                <span class="btn-text">
                    or <a href="<?= Backend::url('ekuiniti/users/user') ?>">Cancel</a>
                </span>
            </div>
        </div>

    <?= Form::close() ?>

<?php else: ?>
    <p class="flash-message static error"><?= e(trans($this->fatalError)) ?></p>
    <p><a href="<?= Backend::url('ekuiniti/users/user') ?>" class="btn btn-default">Return to User list</a></p>
<?php endif ?>