<?php Block::put('breadcrumb') ?>
    <ul>
        <li><a href="<?= Backend::url('ekuiniti/users/user') ?>">User</a></li>
        <li><?= e($this->pageTitle) ?></li>
    </ul>
<?php Block::endPut() ?>

<?php if (!$this->fatalError): ?>

    <?= Form::open(['class' => 'layout']) ?>

    <!-- <script type="text/javascript">  
        var myUploadWidget;
        var backendEndpoint = "<?= Config::get('app.api_url') ?>";
        var partnerId = "<?= $this->vars['formModel']->attributes['id'] ?>";
        document.getElementById("upload_widget_opener").addEventListener("click", function() {
        myUploadWidget = cloudinary.openUploadWidget({ 
            cloudName: 'ekuiniti', uploadPreset: 'covers', sources: ['local']}, (error, result) => {
                if (result && result.event === "success") {
                    var settings = {
                        "async": true,
                        "crossDomain": true,
                        "url": backendEndpoint + "/sc/v1/packages/cms/partners/" + partnerId,
                        "method": "PUT",
                        "headers": {
                            "Content-Type": "application/json",
                            "Authorization": "Basic Y21zLWFkbWluaXN0cmF0b3I6WkNNSkt4ZmV6OFp3Rlk=",
                            "cache-control": "no-cache"
                        },
                        "processData": false,
                        "data": "{\n\t\"cover\": \"" + result.info.secure_url + "\"\n}"
                    }

                    $.ajax(settings).done(function (response) {
                        // Success
                    });
                } else if (result && result.event === "close") {
                    location.reload();
                }
            });
        }, false);
    </script> -->
        <div class="layout-row">
            <?= $this->formRender() ?>
        </div>

        <h4>KTP Address</h4> <hr/>
        <div class="layout-row">
            <?= $this->relationRender('userktp') ?>
        </div>

        <h4>Correspondence Address</h4> <hr/>
        <div class="layout-row">
            <?= $this->relationRender('usercorrespondence') ?>
        </div>
        
        <h4>Domicile Address</h4> <hr/>
        <div class="layout-row">
            <?= $this->relationRender('userdomicile') ?>
        </div>

        <div class="form-buttons">
            <div class="loading-indicator-container">
                <button
                    type="submit"
                    data-request="onSave"
                    data-request-data="redirect:0"
                    data-hotkey="ctrl+s, cmd+s"
                    data-load-indicator="Saving User..."
                    class="btn btn-primary">
                    <u>S</u>ave
                </button>
                <button
                    type="button"
                    data-request="onSave"
                    data-request-data="close:1"
                    data-hotkey="ctrl+enter, cmd+enter"
                    data-load-indicator="Saving User..."
                    class="btn btn-default">
                    Save and Close
                </button>
                <button
                    type="button"
                    class="oc-icon-trash-o btn-icon danger pull-right"
                    data-request="onDelete"
                    data-load-indicator="Deleting user..."
                    data-request-confirm="Delete this user?">
                </button>

                <span class="btn-text">
                    or <a href="<?= Backend::url('ekuiniti/users/user') ?>">Cancel</a>
                </span>
            </div>
        </div>

    <?= Form::close() ?>

    <?php else: ?>
    <p class="flash-message static error"><?= e(trans($this->fatalError)) ?></p>
    <p><a href="<?= Backend::url('ekuiniti/users/user') ?>" class="btn btn-default">Return to User</a></p>

    <?php endif ?>